__pycache__/
*.pyc
*.pyo
.pytest_cache/
.mypy_cache/
.snakemake/
data/ecoli_blastn_db*
data/index.json*
data/queries.fa
results/
benchmarks/*.png
benchmarks/*.csv
benchmarks/*.docx
src/blastmini/__pycache__/
src/blastmini/.idea/
src/blastmini/*.egg-info/
tests/__pycache__/
*.log
.DS_Store
data/ecoli_blastn_db*
